<div id="<%= dom_id exercise %>">
  <p>
    <strong>Title:</strong>
    <%= exercise.title %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= exercise.day %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= exercise.completed %>
  </p>

</div>
